
@{
    ViewData["Title"] = "UserProfile";
}


@section styles{
@*    <link href="//cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />*@
}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Profiles List => Its a dummy data enter in db.</h2>
                </div>
                <div class="card-body">
                <table id="Profiles" class="table table-hover table-striped table-bordered dataTable dtr-inline" cellspacing="0" width="100%">
                    <thead>
                        <tr style="height:120px">
                            <th> <span> Id</span></th>
                            <th ><span>Reference</span></th>
                            <th ><span>Extension</span></th>
                            <th ><span class="vertical">Aggression</span></th>
                            <th ><span class="vertical">Arousal</span></th>
                            <th ><span class="vertical">Atmosphere</span></th>
                            <th ><span class="vertical">ClStress</span></th>
                            <th ><span class="vertical">Concentration</span></th>
                            <th ><span class="vertical">Discomfort</span></th>
                            <th ><span class="vertical">Excitement</span></th>
                            <th ><span class="vertical">Hesitation</span></th>
                            <th ><span class="vertical">Imagination</span></th>
                            <th ><span class="vertical">Joy</span></th>
                            <th ><span class="vertical">MentalEffort</span></th>
                            <th ><span class="vertical">Sad</span></th>
                            <th ><span class="vertical">Stress</span></th>
                            <th ><span class="vertical">Uncertainty</span></th>
                            <th ><span class="vertical">Uneasy</span></th>
                            <th ><span class="vertical">DiscomfortEnd</span></th>
                            <th ><span class="vertical">DiscomfortStart</span></th>
                            <th ><span class="vertical">Tags</span></th>
                            <th ><span class="vertical">NewTagsString</span></th>
                        </tr>
                    </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    @section Scripts{
  @*  <script src="//cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>*@

    <script type="text/javascript">
        $(document).ready(function () {


            if (!$.fn.dataTable.isDataTable('#Profiles')) {
                table = $('#Profiles')
                    .DataTable({
                        "processing": true,
                        "serverSide": true,
                        "filter": true,
                        "scrollX": true,
                        "ajax": {
                            "url": "/api/Profile",
                            "type": "POST",
                            "datatype": "json"
                        },
                        //"columnDefs": [{
                        //    "targets": [0],
                        //    "visible": false,
                        //    "searchable": false
                        //}],
                        "columns": [
                           
                            { "data": "id", "name": "Id", "autoWidth": true },
                            { "data": "reference", "name": "Reference", "autoWidth": true },
                            { "data": "extension", "name": "Extension", "autoWidth": true },
                            { "data": "aggression", "name": "Aggression", "autoWidth": true },
                            { "data": "arousal", "name": "rousal", "autoWidth": true },
                            { "data": "atmosphere", "name": "Atmosphere", "autoWidth": true },

                            { "data": "clStress", "name": "ClStress", "autoWidth": true },
                            { "data": "concentration", "name": "Concentration", "autoWidth": true },
                            { "data": "discomfort", "name": "Discomfort", "autoWidth": true },

                            { "data": "excitement", "name": "Excitement", "autoWidth": true },
                            { "data": "hesitation", "name": "Hesitation", "autoWidth": true },
                            { "data": "imagination", "name": "Imagination", "autoWidth": true },
                            { "data": "joy", "name": "joy", "AutoWidth": true },

                            { "data": "mentalEffort", "name": "MentalEffort", "autoWidth": true },
                            { "data": "sad", "name": "sad", "AutoWidth": true },
                            { "data": "stress", "name": "Stress", "autoWidth": true },
                            { "data": "uncertainty", "name": "Uncertainty", "AutoWidth": true },


                            { "data": "uneasy", "name": "Uneasy", "autoWidth": true },
                            { "data": "discomfortEnd", "name": "DiscomfortEnd", "AutoWidth": true },
                            { "data": "discomfortStart", "name": "DiscomfortStart", "autoWidth": true },
                            { "data": "tags", "name": "Tags", "AutoWidth": true },
                            { "data": "newTagsString", "name": "NewTagsString", "AutoWidth": true },
                        ]
                    });
            }

        })

    </script>
}
