@{
    ViewData["Title"] = "UserProfile";
}


@section styles{
    @*    <link href="//cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />*@
     <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <style>

        ::-webkit-scrollbar {
            height: 5px;
            background-color: #f2f2f2;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #aaa;
            border-radius: 10px;
        }

/*        .Profiles_filter {
            display:none !important;
        }*/
    </style>
}
<div class="main-card mb-3 card">
    <div class="card-body">
        <div>
            <div class="divider"></div>
            <form class="row g-3">
                <div class="col-auto">
                    <label for="tags" class="visually-hidden">Tags</label>
                    <input type="text" class="form-control" id="tags" placeholder="Search By Tags">
                </div>
                <div class="col-auto">
                    <label for="extensions" class="visually-hidden">Extensions</label>
                    <input type="text" class="form-control" id="extensions" placeholder="Search By Extension">
                </div>
                <div class="col-auto">
                    <label for="staticSearch" class="visually-hidden">Seaching</label>
                    <input type="text" class="form-control" id="staticSearch" placeholder="Search By Tags/Extension">
                </div>

                <div class="col-auto">
                    <label for="staticSearch" class="visually-hidden">Date</label>
                   @* <input type="text" class="form-control" id="staticSearch" placeholder="Select Date">*@
                    <input type="text" class="form-control" name="daterange" />
                    <input type="hidden" id="hideDates" />
                </div>
                @*  <div class="col-auto">
                <label for="inputPassword2" class="visually-hidden">Password</label>
                <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                </div>*@
                <div class="col-auto">
                    <button type="button" id="searchBtn" class="btn btn-primary mb-3">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Profiles List => Its a dummy data enter in db.</h2>
            </div>
            <div class="card-body profileCardBody" style="width: 100%;overflow-x: scroll;">
                <table id="Profiles" class="table Profiles table-hover table-striped table-bordered dataTable dtr-inline" cellspacing="0" width="100%">
                    <thead>
                        <tr style="height:120px">
                            <th> <span> Actions</span></th>
                            <th><span>Reference</span></th>
                            <th><span>Extension</span></th>
                            <th><span>Creation</span></th>
                            <th><span class="vertical">Aggression</span></th>
                            <th><span class="vertical">Arousal</span></th>
                            <th><span class="vertical">Atmosphere</span></th>
                            <th><span class="vertical">ClStress</span></th>
                            <th><span class="vertical">Concentration</span></th>
                            <th><span class="vertical">Discomfort</span></th>
                            <th><span class="vertical">Excitement</span></th>
                            <th><span class="vertical">Hesitation</span></th>
                            <th><span class="vertical">Imagination</span></th>
                            <th><span class="vertical">Joy</span></th>
                            <th><span class="vertical">MentalEffort</span></th>
                            <th><span class="vertical">Sad</span></th>
                            <th><span class="vertical">Stress</span></th>
                            <th><span class="vertical">Uncertainty</span></th>
                            <th><span class="vertical">Uneasy</span></th>
                            <th><span class="vertical">DiscomfortEnd</span></th>
                            <th><span class="vertical">DiscomfortStart</span></th>
                            <th><span class="vertical">Tags</span></th>
                            <th><span class="vertical">NewTagsString</span></th>
                            <th><span class="vertical">Call Destination</span></th>
                            <th><span class="vertical">Call Source</span></th>
                            <th><span>Call Start</span></th>
                            <th><span>Call End</span></th>
                            <th><span>Call Duration</span></th>

                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @*  <script src="//cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>*@
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
   
    <script type="text/javascript">
        $(document).ready(function () {
            var today = new Date();
            var yyyy = today.getFullYear();
            var mm = String(today.getMonth() + 1).padStart(2, '0');
            var dd = String(today.getDate()).padStart(2, '0');
            var formattedDate = yyyy + '-' + mm + '-' + dd;
            $("#hideDates").val(formattedDate + " " + formattedDate);
            $("#tags").val("");
            $("#extensions").val("");
        var dd= "";
            $('input[name="daterange"]').daterangepicker({
                opens: 'left',
                startDate: "01/01/2023",
            }, function (start, end, label) {
                console.warn("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                    dd = start.format('YYYY-MM-DD') + " " + end.format('YYYY-MM-DD');
                $("#hideDates").val(dd);
            });
      

            $("#searchBtn").click(function () {
                var searchvalue = $("#staticSearch").val()
                if (searchvalue == "" || searchvalue == null) {
                    return;
                } else {
                    var res = { name: $("#staticSearch").val(), dt: $("#hideDates").val(), tags: $("#tags").val(),extension:$("#extensions").val() }
                    var ddt=new Object();
                    ddt.name = $("#staticSearch").val();
                    ddt.dt = $("#hideDates").val();
                    ddt.tags = $("#tags").val();
                    ddt.extension= $("#extensions").val()
                    console.warn(ddt);
                    console.warn(JSON.stringify(ddt))
                    GetData(JSON.stringify(ddt))
                    $("#staticSearch").val("");
                    $(".profileCardBody").css("overflow-x", "hidden")
                    $(".Profiles_filter").css("display", "none !important")
                }

            })

        })

        function GetData(jsonData) {

            //var data = JSON.stringify({ "Name": searchingValue, "Dt": date, "Tags": tags, "Extension": extensions })
            var data = JSON.stringify(jsonData)
            if ($.fn.DataTable.isDataTable('#Profiles')) {
                $('#Profiles').DataTable().destroy();
            }
          

            if (!$.fn.dataTable.isDataTable('#Profiles')) {
                table = $('#Profiles')
                    .DataTable({
                        "processing": true,
                        "serverSide": true,
                        "filter": true,
                        "scrollX": true,
                        'columnDefs': [{ 'orderable': false, 'targets': 0 }],
                        "ajax": {
                            "url": "/api/Profile/GetProfiles",
                            "type": 'post',
                            "dataType": 'json',
                            "contentType": 'application/json',
                            "data": jsonData,
                           
                        },
                        "columns": [

                            {
                                "data": "id", "name": "Id", "autoWidth": true, "render": function (id, type, full, meta) {

                                    return "<button type='button' class='btn btn-outline-info waves-effect waves-light editbtn-product' title='Details' data-product-id=" + full.id + " ><i class='fa fa-user'></i></button>";

                                }
                            },
                            { "data": "reference", "name": "Reference", "autoWidth": true },
                            { "data": "extension", "name": "Extension", "autoWidth": true },
                            {
                                "data": "creation", "name": "Creation", "autoWidth": true, "createdCell": function (td, cellData, rowData, row, col) {
                                    var date = new Date(cellData);
                                    $(td).html(date.toLocaleDateString());
                                }
                            },
                            { "data": "aggression", "name": "Aggression", "autoWidth": true },
                            { "data": "arousal", "name": "Arousal", "autoWidth": true },
                            { "data": "atmosphere", "name": "Atmosphere", "autoWidth": true },

                            { "data": "clStress", "name": "ClStress", "autoWidth": true },
                            { "data": "concentration", "name": "Concentration", "autoWidth": true },
                            { "data": "discomfort", "name": "Discomfort", "autoWidth": true },

                            { "data": "excitement", "name": "Excitement", "autoWidth": true },
                            { "data": "hesitation", "name": "Hesitation", "autoWidth": true },
                            { "data": "imagination", "name": "Imagination", "autoWidth": true },
                            { "data": "joy", "name": "joy", "AutoWidth": true },

                            { "data": "mentalEffort", "name": "MentalEffort", "autoWidth": true },
                            { "data": "sad", "name": "sad", "AutoWidth": true },
                            { "data": "stress", "name": "Stress", "autoWidth": true },
                            { "data": "uncertainty", "name": "Uncertainty", "AutoWidth": true },


                            { "data": "uneasy", "name": "Uneasy", "autoWidth": true },
                            { "data": "discomfortEnd", "name": "DiscomfortEnd", "AutoWidth": true },
                            { "data": "discomfortStart", "name": "DiscomfortStart", "autoWidth": true },
                            { "data": "tags", "name": "Tags", "AutoWidth": true },
                            { "data": "newTagsString", "name": "NewTagsString", "AutoWidth": true },

                            { "data": "callDestination", "name": "CallDestination", "autoWidth": true },
                            { "data": "callSource", "name": "CallSource", "AutoWidth": true },
                            { "data": "startCall", "name": "StartCall", "autoWidth": true },
                            { "data": "finishCall", "name": "FinishCall", "AutoWidth": true },
                            { "data": "callDuration", "name": "CallDuration", "AutoWidth": true },
                        ], "initComplete": function () {
                            $('#Profiles tbody').on('click', 'tr td.dt-view', function (e) {

                                const clickedElement = $(e.target);
                                var tr = clickedElement.closest('tr');
                                var row = cmeTable.row(tr);
                                var record = row.data();

                                self.updateDocument(record);

                            });
                        }
                    });
            }

            searchingValue = "";

        }
    </script>
}
